In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy
import sklearn
import os

In [2]:
def find_csv_files(folder_path, suffix=".csv"):
    """
    Find all CSV files in the given folder path.

    Args:
    - folder_path (str): Path to the folder where CSV files are located.
    - suffix (str): Suffix to filter files (default is '.csv').

    Returns:
    - list: List of CSV files with the given suffix.
    """
    csv_files = []
    for root, dirs, files in os.walk(folder_path):
        for file in files:
            if file.endswith(suffix):
                csv_files.append(os.path.join(root, file))
    return csv_files

In [3]:
def plot_top_n_categorical(data, column, n=None, figsize=(15, 5)):
    """
    Plot the distribution of the top N categories of a categorical variable.

    Args:
    - data (pandas DataFrame): DataFrame containing the categorical variable.
    - column (str): Name of the categorical variable column.
    - n (int or None): Number of top categories to plot. If None, plot all categories (default is None).
    - figsize (tuple): Width and height of the figure in inches (default is (10, 6)).

    Returns:
    - None (displays the plot).
    """
    if n is None:
        categories = data[column].value_counts().index
    else:
        categories = data[column].value_counts().nlargest(n).index
        
    data_filtered = data[data[column].isin(categories)]
    
    plt.figure(figsize=figsize)
    sns.countplot(data=data_filtered, x=column, order=categories)
    plt.title(f'Top {len(categories)} Categories of {column}')
    plt.xlabel(column)
    plt.ylabel('Count')
    plt.xticks(rotation=90)
    plt.show()

In [4]:
data = pd.read_csv("./INITIAL_PROCESSED_DATA.csv")

In [5]:
data = data.sort_values(by=['Date (MM/DD/YYYY)', 'Scheduled Arrival Time'])

In [6]:
to_drop = [
    'Arrival Delay (Minutes)',
    'Flight Number',
    'Tail Number',
]

In [7]:
data = data.drop(columns=to_drop)

In [8]:
weather_data_path = './imputed_weather/{}_weather_data.csv'

In [9]:
data.head()

,Carrier Code,Date (MM/DD/YYYY),Origin Airport,Scheduled Arrival Time,Scheduled Elapsed Time (Minutes),FLIGHT_STATUS,month,day,season,WeekDay
0,B6,2010-01-01,JFK,00:01,76,LATE,1,1,winter,Friday
1,B6,2010-01-01,JFK,08:55,75,LATE,1,1,winter,Friday
2,MQ,2010-01-01,ORD,11:20,100,ONTIME,1,1,winter,Friday
3,9E,2010-01-01,DTW,11:44,84,LATE,1,1,winter,Friday
4,B6,2010-01-01,JFK,11:52,71,LATE,1,1,winter,Friday

In [10]:
data['Scheduled Arrival Time'] = data['Scheduled Arrival Time'].replace('24:00', '23:59')

In [11]:
data['UNIX_DATE'] = pd.to_datetime(data['Date (MM/DD/YYYY)'] + ' ' + data['Scheduled Arrival Time'])

In [12]:
data['UNIX_TIMESTAMP'] = data['UNIX_DATE'].apply(lambda x: int(x.timestamp()))

In [13]:
data.head()

,Carrier Code,Date (MM/DD/YYYY),Origin Airport,Scheduled Arrival Time,Scheduled Elapsed Time (Minutes),FLIGHT_STATUS,month,day,season,WeekDay,UNIX_DATE,UNIX_TIMESTAMP
0,B6,2010-01-01,JFK,00:01,76,LATE,1,1,winter,Friday,2010-01-01 00:01:00,1262304060
1,B6,2010-01-01,JFK,08:55,75,LATE,1,1,winter,Friday,2010-01-01 08:55:00,1262336100
2,MQ,2010-01-01,ORD,11:20,100,ONTIME,1,1,winter,Friday,2010-01-01 11:20:00,1262344800
3,9E,2010-01-01,DTW,11:44,84,LATE,1,1,winter,Friday,2010-01-01 11:44:00,1262346240
4,B6,2010-01-01,JFK,11:52,71,LATE,1,1,winter,Friday,2010-01-01 11:52:00,1262346720

# Weather

In [14]:
def mode_imputer(data):
    """
    Perform mode imputation on a DataFrame.
    
    Parameters:
        data (DataFrame): Input DataFrame with missing values.
        
    Returns:
        DataFrame: DataFrame with missing values replaced by mode.
    """
    # Fill missing values with mode
    data_imputed = data.fillna(data.mode().iloc[0])
    
    return data_imputed

In [15]:
all_weather_data = find_csv_files('./imputed_weather/')

In [16]:
# for d in all_weather_data:
#     dd = mode_imputer(pd.read_csv(d))
#     print(f"============{d}===============")
#     dd = dd.fillna(1013)
#     print(dd.isna().sum())
#     print("===========================")

In [17]:
weather1 = pd.read_csv(all_weather_data[0], parse_dates=['date'])

In [18]:
weather1['UNIX_TIMESTAMP'] = weather1['date'].apply(lambda x: int(x.timestamp()))

In [19]:
weather1.head()

,station,date,latitude,longitude,elevation,wind_direction,wind_type,wind_speed,ceiling_height,ceiling_det_code,celing_CAVOK,visibility_dist,visibility_variability,air_temparature,dew_point_temparature,sea_level_pressure,UNIX_TIMESTAMP
0,MSP,2009-01-01 00:00:00,44.8831,-93.2289,265.8,140.0,N,36.0,3309.428571,9,N,16000.0,N,-156.0,-211.0,10274.0,1230768000
1,MSP,2009-01-01 00:53:00,44.8831,-93.2289,265.8,140.0,N,36.0,3658.000000,M,N,16093.0,N,-156.0,-206.0,10255.0,1230771180
2,MSP,2009-01-01 01:53:00,44.8831,-93.2289,265.8,150.0,V,31.0,3048.000000,M,N,16093.0,N,-133.0,-194.0,10237.0,1230774780
3,MSP,2009-01-01 02:29:00,44.8831,-93.2289,265.8,140.0,N,62.0,3353.000000,M,N,16093.0,N,-130.0,-190.0,10204.8,1230776940
4,MSP,2009-01-01 02:53:00,44.8831,-93.2289,265.8,160.0,N,46.0,3048.000000,M,N,16093.0,N,-128.0,-189.0,10217.0,1230778380

In [20]:
def binary_search_nearest_rows(data, target_timestamp, num_neighbors=3):
    """
    Perform binary search to find the nearest rows in a DataFrame for a given timestamp.
    
    Parameters:
        data (DataFrame): Input DataFrame with timestamps.
        target_timestamp (int): Target timestamp for which the nearest rows need to be found.
        num_neighbors (int): Number of nearest rows to find on each side of the target timestamp.
        
    Returns:
        DataFrame: DataFrame containing the rows corresponding to the nearest timestamps.
    """
    # Sort DataFrame by the timestamp column
    data_sorted = data.sort_values(by='UNIX_TIMESTAMP')
    
    # Convert the sorted timestamps column to a list
    timestamps = data_sorted['UNIX_TIMESTAMP'].tolist()
    
    # Binary search to find the nearest timestamp
    low = 0
    high = len(timestamps) - 1
    
    while low <= high:
        mid = (low + high) // 2
        mid_timestamp = timestamps[mid]
        
        if mid_timestamp == target_timestamp:
            nearest_indices = [mid]
            break
        
        elif mid_timestamp < target_timestamp:
            low = mid + 1
            
        else:
            high = mid - 1
    
    else:
        # Find the nearest timestamp
        if high < 0:
            nearest_indices = [low]
        elif low >= len(timestamps):
            nearest_indices = [high]
        elif abs(timestamps[low] - target_timestamp) < abs(timestamps[high] - target_timestamp):
            nearest_indices = [low]
        else:
            nearest_indices = [high]
    
    # Find additional nearest timestamps on each side
    i = 1
    while len(nearest_indices) < num_neighbors:
        if (nearest_indices[0] - i) >= 0:
            nearest_indices.insert(0, nearest_indices[0] - i)
        
        if (nearest_indices[-1] + i) < len(timestamps):
            nearest_indices.append(nearest_indices[-1] + i)
        
        i += 1
    
    # Extract the rows corresponding to the nearest timestamps
    nearest_rows = data_sorted.iloc[nearest_indices]
    
    return nearest_rows

In [21]:
binary_search_nearest_rows(weather1, 1262344800)[['latitude', 'longitude', 'elevation',
       'wind_direction', 'wind_type', 'wind_speed', 'ceiling_height',
       'ceiling_det_code', 'celing_CAVOK', 'visibility_dist',
       'visibility_variability', 'air_temparature', 'dew_point_temparature',
       'sea_level_pressure']]

,latitude,longitude,elevation,wind_direction,wind_type,wind_speed,ceiling_height,ceiling_det_code,celing_CAVOK,visibility_dist,visibility_variability,air_temparature,dew_point_temparature,sea_level_pressure
12992,44.8831,-93.2289,265.8,310.0,N,31.0,2438.0,M,N,16093.0,N,-167.0,-200.0,10304.000000
12993,44.8831,-93.2289,265.8,310.0,N,26.0,488.0,M,N,16093.0,N,-170.0,-210.0,10299.432552
12994,44.8831,-93.2289,265.8,300.0,N,31.0,366.0,M,N,16093.0,N,-170.0,-210.0,10302.932552

# FINAL DATA PREP

In [22]:
import tqdm
all_weather = {}
all_rows = []
for index, row in tqdm.tqdm_notebook(data.iterrows(), total=len(data)):
    station = row['Origin Airport']
    if station not in all_weather:
        all_weather[station] = pd.read_csv(weather_data_path.format(station), parse_dates=['date'])
        all_weather[station]['UNIX_TIMESTAMP'] = all_weather[station]['date'].apply(lambda x: int(x.timestamp()))
    weatherDF = all_weather[station]
    row = row.to_dict()
    row_unix_ts = row['UNIX_TIMESTAMP']
    
    closest_rows = binary_search_nearest_rows(weatherDF, row_unix_ts)[['latitude', 'longitude', 'elevation',
       'wind_direction', 'wind_type', 'wind_speed', 'ceiling_height',
       'ceiling_det_code', 'celing_CAVOK', 'visibility_dist',
       'visibility_variability', 'air_temparature', 'dew_point_temparature',
       'sea_level_pressure']]
    
    for nc in ['latitude', 'longitude', 'elevation',
       'wind_direction', 'wind_type', 'wind_speed', 'ceiling_height',
       'ceiling_det_code', 'celing_CAVOK', 'visibility_dist',
       'visibility_variability', 'air_temparature', 'dew_point_temparature',
       'sea_level_pressure']:
        if nc in ['wind_type',  'ceiling_det_code', 'celing_CAVOK', 'visibility_variability']:
            row[nc] = closest_rows[nc].mode().iloc[0]
        else:
            row[nc] = closest_rows[nc].mean()
    all_rows.append(row)
new_data_df = pd.DataFrame(all_rows, index=data.index)

/tmp/ipykernel_247649/4184202915.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for index, row in tqdm.tqdm_notebook(data.iterrows(), total=len(data)):

  0%|          | 0/113671 [00:00<?, ?it/s]

In [23]:
new_data_df.head()

,Carrier Code,Date (MM/DD/YYYY),Origin Airport,Scheduled Arrival Time,Scheduled Elapsed Time (Minutes),FLIGHT_STATUS,month,day,season,WeekDay,...,wind_type,wind_speed,ceiling_height,ceiling_det_code,celing_CAVOK,visibility_dist,visibility_variability,air_temparature,dew_point_temparature,sea_level_pressure
0,B6,2010-01-01,JFK,00:01,76,LATE,1,1,winter,Friday,...,N,10.0,443.277631,M,N,11176.666667,N,10.666667,-10.666667,10185.131023
1,B6,2010-01-01,JFK,08:55,75,LATE,1,1,winter,Friday,...,C,0.0,347.875023,M,N,8031.333333,N,6.000000,0.000000,10149.000000
2,MQ,2010-01-01,ORD,11:20,100,ONTIME,1,1,winter,Friday,...,N,36.0,22000.000000,9,N,16093.000000,N,-142.333333,-176.000000,10255.666667
3,9E,2010-01-01,DTW,11:44,84,LATE,1,1,winter,Friday,...,N,51.0,1326.054027,M,N,14452.666667,N,-50.000000,-83.000000,10185.666667
4,B6,2010-01-01,JFK,11:52,71,LATE,1,1,winter,Friday,...,C,0.0,430.548612,M,N,6828.000000,N,6.000000,-2.000000,10144.333333

In [24]:
new_data_df.isna().sum()

Carrier Code                          0
Date (MM/DD/YYYY)                     0
Origin Airport                        0
Scheduled Arrival Time                0
Scheduled Elapsed Time (Minutes)      0
FLIGHT_STATUS                         0
month                                 0
day                                   0
season                                0
WeekDay                               0
UNIX_DATE                             0
UNIX_TIMESTAMP                        0
latitude                              0
longitude                             0
elevation                             0
wind_direction                        0
wind_type                             0
wind_speed                            0
ceiling_height                        0
ceiling_det_code                      0
celing_CAVOK                          0
visibility_dist                       0
visibility_variability                0
air_temparature                       0
dew_point_temparature                 0
sea_level_pressure                  728
dtype: int64

In [25]:
new_data_df['sea_level_pressure'] = new_data_df['sea_level_pressure'].fillna(new_data_df['sea_level_pressure'].mean())

In [26]:
new_data_df.isna().sum()

Carrier Code                        0
Date (MM/DD/YYYY)                   0
Origin Airport                      0
Scheduled Arrival Time              0
Scheduled Elapsed Time (Minutes)    0
FLIGHT_STATUS                       0
month                               0
day                                 0
season                              0
WeekDay                             0
UNIX_DATE                           0
UNIX_TIMESTAMP                      0
latitude                            0
longitude                           0
elevation                           0
wind_direction                      0
wind_type                           0
wind_speed                          0
ceiling_height                      0
ceiling_det_code                    0
celing_CAVOK                        0
visibility_dist                     0
visibility_variability              0
air_temparature                     0
dew_point_temparature               0
sea_level_pressure                  0
dtype: int64

In [30]:
# new_data_df.to_csv("WEATHER_DATA_IMPUTED.csv", index=False)

In [31]:
def create_data_2nd_model_data_ext(df, num_prev=3):
    extended_data = []
    for index, row in df.iterrows():
        for i in range(num_prev):
            if index - i - 1 >= 0:
                extended_row = row.copy()  # Create a copy of the current row
                extended_row['PREV_STAT'] = df.iloc[index - i - 1]['FLIGHT_STATUS']
                extended_data.append(extended_row)
            else:
                extended_row = row.copy()  # Create a copy of the current row
                extended_row['PREV_STAT'] = 'ONTIME'
                extended_data.append(extended_row)
    df_extended = pd.DataFrame(extended_data)
    return df_extended.reset_index(drop=True)

In [ ]:
create_data_2nd_model_data_ext(new_data_df).to_csv("3_HOP_WEATHER.csv", index=False)

In [ ]:
create_data_2nd_model_data_ext(new_data_df, 1).to_csv("1_HOP_WEATHER.csv", index=False)

In [ ]:
create_data_2nd_model_data_ext(new_data_df, 2).to_csv("2_HOP_WEATHER.csv", index=False)